.rectangle3{
  color: $color-text;
  margin-top: 20px;
  &-wrapper{
    background-color: $color-background2;
    height: 506px;
    display: flex;
    align-items: center;
    background-image: url(/assets/img/Rectangle3/1.png);
    background-repeat: no-repeat;
    background-position:1110px 100px;
    @include media-mobile{
      background-image: none;
    }
    @include media-tablet{
      background-position:500px 100px;
    }
    &-content{
      display: flex;
      flex-direction: column; 
      width: 32%;
      line-height: 2rem;
      margin-left: 10%;
      &-title{
        @include media-mobile{
          width: 250%;
          margin-top: 0;
          text-align: center;
        }
        @include media-tablet{
          line-height: 3rem;
        }
      } 
      &-text{
        margin-top: 16px;
        width: 500px;
        @include media-mobile{
          width: 250%;
          
        }
      }
    }
  }
}